<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li>
            <a href="{#{{ path('system_report_homepage') }}#}">
                <i class="fa fa-home"></i> <span>P&aacute;gina principal</span>
            </a>
        </li>
        <li id="link-sync">
            <a href="{#{{ path('system_backend_import') }}#}">
                <i class="fa fa-refresh"></i> <span>Sincronizar</span>
            </a>
        </li>
        {#{% if is_granted(['ROLE_ADVISING_SP','ROLE_ADMIN']) %}#}
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-list"></i>
                    <span>Nomencladores</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{#{{ path('service_index') }}#}"><i class="fa fa-circle-o"></i> Servicios</a></li>
                    <li><a href="{#{{ path('status_index') }}#}"><i class="fa fa-circle-o"></i> Estados</a></li>
                    <li><a href="{#{{ path('comment_index') }}#}"><i class="fa fa-circle-o"></i> Comentarios</a></li>
                    {#<li><a href="{{ path('tp_agency_index') }}"><i class="fa fa-circle-o"></i> Agencias</a></li>#}
                    {#<li><a href="{{ path('contact_index') }}"><i class="fa fa-circle-o"></i> Contactos</a></li>#}
                    {#<li><a href="#"><i class="fa fa-circle-o"></i> SeatIN</a></li>#}
                </ul>
            </li>
        {#{% endif %}#}

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-list-alt"></i>
                    <span>Gesti&oacute;n</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    {#{% if is_granted(['ROLE_MANAGE']) %}#}
                    <li><a href="{{ path('category_index') }}"><i class="fa fa-circle-o"></i> Categorias</a></li>
                    {#{% if is_granted(['ROLE_ADVISING_SP','ROLE_ADMIN']) %}#}
                        <li><a href="{{ path('subcategory_index') }}"><i class="fa fa-circle-o"></i> Subcategorias</a></li>
                        <li><a href="{{ path('itemtype_index') }}"><i class="fa fa-circle-o"></i> Tipos de Item {#{% render url('repair_update_notification_sidebar') %}#} </a></li>
                        <li><a href="{{ path('servicetype_index') }}"><i class="fa fa-circle-o"></i> Tipos de servicios {#{% render url('repair_update_notification_sidebar') %}#} </a></li>
                        <li><a href="{{ path('department_index') }}"><i class="fa fa-circle-o"></i> Departamentos {#{% render url('repair_update_notification_sidebar') %}#} </a></li>
                    {#{% endif %}#}
                        {#<li><a href="{{ path('departure_index') }}"><i class="fa fa-circle-o"></i> Salidas</a></li>#}
                        {#<li><a href="{{ path('booking_index') }}"><i class="fa fa-circle-o"></i> Reservas</a></li>#}
                    {#{% endif %}#}
                    {#{% if is_granted(['ROLE_MANAGE_ALLOT']) %}#}
                        {#<li><a href="{{ path('allotment_index') }}"><i class="fa fa-circle-o"></i> Cupos</a></li>#}
                    {#{% endif %}#}
                    {#<li><a href="#"><i class="fa fa-circle-o"></i> SeatIN</a></li>#}
                </ul>
            </li>

        <li class="treeview">
            <a href="#">
                <i class="fa fa-bar-chart"></i> <span>Reportes</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                <a href="{#{{ path('report_count_date_user_index') }}#}"><i class="fa fa-circle-o"></i> Items por usuario</a>
                    {#<ul class="treeview-menu">#}

                    {#</ul>#}
                </li>
                {#<li>#}
                    {#<a href="#"><i class="fa fa-circle-o"></i> Reportes tipo 2 <i class="fa fa-angle-left pull-right"></i></a>#}
                    {#<ul class="treeview-menu">#}
                        {#&#123;&#35;<li><a href="{{ path('stop_sales_standard_view') }}"><i class="fa fa-circle-o"></i> Vista Standard</a></li>&#35;&#125;#}
                    {#</ul>#}
                {#</li>#}
            </ul>
        </li>
        {#{% if is_granted(['ROLE_ADMIN']) %}#}
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-lock"></i> <span>Seguridad</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="{#{{ path('user') }}#}"><i class="fa fa-circle-o"></i> Usuarios</a>
                        <ul class="treeview-menu">
                            <li><a href="{#{{ path('user') }}#}"><i class="fa fa-circle-o"></i> Usuarios</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        {#{% endif %}#}
        {#<li class="treeview">#}
            {#<a href="#">#}
                {#<i class="fa fa-share"></i> <span>Reportes</span>#}
                {#<i class="fa fa-angle-left pull-right"></i>#}
            {#</a>#}
            {#<ul class="treeview-menu">#}
                {#<li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>#}
                {#<li>#}
                    {#<a href="#"><i class="fa fa-circle-o"></i> Level One <i class="fa fa-angle-left pull-right"></i></a>#}
                    {#<ul class="treeview-menu">#}
                        {#<li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>#}
                        {#<li>#}
                            {#<a href="#"><i class="fa fa-circle-o"></i> Level Two <i class="fa fa-angle-left pull-right"></i></a>#}
                            {#<ul class="treeview-menu">#}
                                {#<li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>#}
                                {#<li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>#}
                            {#</ul>#}
                        {#</li>#}
                    {#</ul>#}
                {#</li>#}
                {#<li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>#}
            {#</ul>#}
        {#</li>#}
    </ul>
</section>
<!-- /.sidebar -->