{% extends 'layouts/main-layout.html.twig' %}

{% block content %}
    <h1 class="page-header">Incidencias</h1>

    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th style="width: 12%">Codigo</th>
                <th style="width: 15%">Fecha de la incidencia</th>
                <th style="width: 35%">Descipci&oacuten</th>
                <th>Documento Adjunto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for incidence in incidences %}
            <tr>
                <td>{{ incidence.code }}</td>
                <td>{% if incidence.incidenceDate %}{{ incidence.incidenceDate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ incidence.description | raw }}</td>
                <td>
                    <a href="{{ asset('uploads/documents/' ~ incidence.document) }}" data-toggle="tootip" data-placement="top" title="ver Documento adjunto">
                        <span class="glyphicon glyphicon-book"></span>
                    </a>
                </td>
                <td>
                    <a href="{{ path('incidence_show', { 'id': incidence.id }) }}"
                       data-toggle="tooltip" data-placement="top" title="Editar">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>

                    <a href="{{ path('incidence_edit', { 'id': incidence.id }) }}"
                       data-toggle="tooltip" data-placement="top" title="Editar">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>

                    <a class="link-eliminar link-tooltip" href="javascript:void(0);"
                       data-url = "{{ path('incidence_delete', { 'id': incidence.id }) }}"
                       data-descripcion="{{ incidence.code }}"
                       data-toggle="modal" data-target="#modal-delete"
                       data-placement="top" title="Eliminar">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('incidence_new') }}" class="btn btn-primary">Agregar</a>
{% endblock %}
