{% form_theme form 'form/fields.html.twig' %}
{% extends ':layouts:main-layout.html.twig' %}

{% block content %}
    <h1 class="page-header">Departamentos</h1>

    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th style="width: 26%">Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for department in departments %}
            <tr>
                <td>{{ department.name }}</td>
                <td>
                    <a href="{{ path('department_edit',{ 'id': department.id }) }}" data-toggle="tooltip" data-placement="top" title="Editar">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="link-eliminar link-tooltip" href="javascript:void(0);"
                       data-url = "{{ path('department_delete', { 'id': department.id }) }}"
                       data-descripcion="{{ department.name }}"
                       data-toggle="modal" data-target="#modal-delete"
                       data-placement="top" title="Eliminar">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        {{ form_start(form) }}
        <tr>
            <td>
                {{ form_row(form.name) }}
            </td>
            <td>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Guardar">
                </div>
            </td>
        </tr>
        {{ form_end(form) }}
        </tbody>
    </table>

{% endblock %}
