{% form_theme edit_form 'form/fields.html.twig' %}
{% extends 'layouts/main-layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="container">
            <h1 class="page-header">Editar tipo de incidencia: <small style="display: inline">{{ incidenceType.name }}</small> </h1>
            {{ form_start(edit_form) }}

            <div class="col-md-4">
                {{ form(edit_form) }}

                <div class="pull-left">
                    <button class="btn btn-info">Editar</button>
                    <a class="btn btn-danger link-eliminar"
                       href="javascript:void(0)"
                       data-url="{{ path('incidencetype_delete',{'id':incidenceType.id}) }}"
                       data-toggle="modal"
                       data-target="#modal-delete"
                       data-descripcion="{{ incidenceType.name }}">Eliminar</a>
                    <a href="{{ path('incidencetype_index') }}" class="btn btn-default">Regresar al listado</a>
                </div>
            </div>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
