{% form_theme form 'form/fields.html.twig' %}
{% extends 'layouts/main-layout.html.twig' %}

{% block content %}

    <h1 class="page-header">Tipos de incidencias</h1>

    <table class="table table-responsive table-hover">
        <thead>
        <tr>
            <th style="width: 25%">Nombre</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for incidenceType in incidenceTypes %}
            <tr>
                <td>{{ incidenceType.name }}</td>
                <td>
                    <a href="{{ path('incidencetype_edit', { 'id': incidenceType.id }) }}"
                       data-toggle="tooltip" data-placement="top" title="Editar">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>

                    <a class="link-eliminar link-tooltip" href="javascript:void(0);"
                       data-url = "{{ path('incidencetype_delete', { 'id': incidenceType.id }) }}"
                       data-descripcion="{{ incidenceType.name }}"
                       data-toggle="modal" data-target="#modal-delete"
                       data-placement="top" title="Eliminar">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        {{ form_start(form) }}
        <tr>
            <td>
                {{ form_row(form.name) }}
            </td>
            <td>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </div>
            </td>
        </tr>
        {{ form_end(form) }}
        </tbody>
    </table>
{% endblock %}
