{% extends 'layouts/main-layout.html.twig' %}

{% block content %}

    <h1 class="page-header">Tipos de incidencias</h1>

    <table class="table table-responsive table-hover">
        <thead>
        <tr>
            <th>No</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for incidenceType in incidenceTypes %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ incidenceType.name }}</td>
                <td>
                    <a href="{{ path('incidencetype_edit', { 'id': incidenceType.id }) }}"
                       data-toggle="tooltip" data-placement="top" title="Editar">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>

                    <a class="link-eliminar link-tooltip" href="javascript:void(0);"
                       data-url = "{{ path('incidencetype_delete', { 'id': incidenceType.id }) }}"
                       data-descripcion="{{ incidenceType.name }}"
                       data-toggle="modal" data-target="#modal-delete"
                       data-placement="top" title="Eliminar">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_start(form, { 'attr': {'class': 'form-inline'} }) }}
    <div class="form-group">
        {{ form_widget(form.incidence) }}
    </div>

    <div class="form-group">
        {{ form_widget(form.name) }}
    </div>

    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary">
    </div>
    {{ form_end(form) }}

    {#<table>#}
        {#<thead>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<th>Name</th>#}
                {#<th>Actions</th>#}
            {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for incidenceType in incidenceTypes %}#}
            {#<tr>#}
                {#<td><a href="{{ path('incidencetype_show', { 'id': incidenceType.id }) }}">{{ incidenceType.id }}</a></td>#}
                {#<td>{{ incidenceType.name }}</td>#}
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('incidencetype_show', { 'id': incidenceType.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('incidencetype_edit', { 'id': incidenceType.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('incidencetype_new') }}">Create a new incidenceType</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
