{% form_theme form 'form/fields.html.twig' %}
{% extends ':layouts:main-layout.html.twig' %}

{% block content %}
    <h1 class="page-header">Lugares</h1>

    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th style="width: 30%">Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for place in places %}
            <tr>
                <td>{{ place.name }}</td>
                <td>
                    <a href="{{ path('place_edit', { 'id': place.id }) }}"
                       data-toggle="tooltip" data-placement="top" title="Editar">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>

                    <a class="link-eliminar link-tooltip"
                       href="javascript:void(0)"
                       data-url = "{{ path('place_delete', { 'id': place.id }) }}"
                       data-descripcion="{{ place.name }}"
                       data-toggle="modal" data-target="#modal-delete"
                       data-placement="top" title="Eliminar">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        {{ form_start(form) }}
            <tr>
                <td>
                    {{ form_row(form.name) }}
                </td>
                <td>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </div>
                </td>
            </tr>
        {{ form_end(form) }}
        </tbody>
    </table>
{% endblock %}
