{% form_theme edit_form 'form/fields.html.twig' %}
{% extends ':layouts:main-layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1 class="page-header">Editar <small style="display: inline"> {{ serviceType.name }}</small></h1>

        {{ form_start(edit_form) }}
        <div class="col-md-4">
            {{ form_row(edit_form.itemtype) }}
            {{ form_row(edit_form.name) }}
            {{ form_row(edit_form.code) }}

            <button class="btn btn-info">Editar</button>
            <a class="btn btn-danger link-eliminar" href="javascript:void(0)" data-url="{{ path('servicetype_delete',{'id':serviceType.id}) }}" data-toggle="modal" data-target="#modal-delete" data-descripcion="{{ serviceType.name }}">Eliminar</a>
            <a href="{{ path('servicetype_index') }}" class="btn btn-default">Regresar al listado</a>

        </div>
        {{ form_end(edit_form) }}
    </div>

{% endblock %}