{% extends ':layouts:main-layout.html.twig' %}

{% block content %}
    <h1 class="page-header">Tipos de servicios</h1>

    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>No</th>
                <th>C&oacutedigo</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for serviceType in serviceTypes %}
            <tr>
                <td>{{ loop.index }}</a></td>
                <td>{{ serviceType.code }}</td>
                <td>{{ serviceType.name }}</td>
                <td>
                    <a href="{{ path('servicetype_edit',{ 'id': serviceType.id }) }}" data-toggle="tooltip" data-placement="top" title="Editar">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="link-eliminar link-tooltip" href="javascript:void(0);"
                       data-url = "{{ path('servicetype_delete', { 'id': serviceType.id }) }}"
                       data-descripcion="{{ serviceType.name }}"
                       data-toggle="modal" data-target="#modal-delete"
                       data-placement="top" title="Eliminar">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ form_start(form, { 'attr': {'class': 'form-inline'} }) }}
    <div class="form-group">
        {{ form_widget(form.itemtype) }}
    </div>

    <div class="form-group">
        {{ form_widget(form.name) }}
    </div>

    <div class="form-group">
        {{ form_widget(form.code) }}
    </div>

    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary">
    </div>
    {{ form_end(form) }}
    {#<a href="{{ path('servicetype_new') }}" class="btn btn-info">Create a new serviceType</a>#}

{% endblock %}
