{% form_theme form 'form/fields.html.twig' %}
{% extends ':layouts:main-layout.html.twig' %}

{% block content %}
    <h1 class="page-header">Tipos de servicios</h1>

    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th style="width: 25%">Tipo de item</th>
                <th style="width: 25%">Tipo de servicio</th>
                <th style="width: 25%">C&oacutedigo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for serviceType in serviceTypes %}
            <tr>
                <td>{{ serviceType.itemtype }}</td>
                <td>{{ serviceType.name }}</td>
                <td>{{ serviceType.code }}</td>
                <td>
                    <a href="{{ path('servicetype_edit',{ 'id': serviceType.id }) }}" data-toggle="tooltip" data-placement="top" title="Editar">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="link-eliminar link-tooltip" href="javascript:void(0);"
                       data-url = "{{ path('servicetype_delete', { 'id': serviceType.id }) }}"
                       data-descripcion="{{ serviceType.name }}"
                       data-toggle="modal" data-target="#modal-delete"
                       data-placement="top" title="Eliminar">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        {{ form_start(form) }}
        <tr>
            <td>
                {{ form_row(form.itemtype) }}
            </td>
            <td>
                {{ form_row(form.name) }}
            </td>
            <td>
                {{ form_row(form.code) }}
            </td>
            <td>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary">
                </div>
            </td>
        </tr>
        {{ form_end(form) }}
        </tbody>
    </table>
{% endblock %}
