{% form_theme edit_form 'form/fields.html.twig' %}
{% extends ':layouts:main-layout.html.twig' %}

{% block content %}
    <h1 class="page-header">Subcategory edit</h1>
    <div class="container">
        {{ form_start(edit_form) }}
        <div class="col-md-4">
            {{ form_row(edit_form.name) }}
            {{ form_row(edit_form.category) }}

            <button class="btn btn-info">Editar</button>
            <a class="btn btn-danger link-eliminar" href="javascript:void(0)" data-url="{{ path('subcategory_delete',{'id':subCategory.id}) }}" data-toggle="modal" data-target="#modal-delete" data-descripcion="{{ subCategory.name }}">Eliminar</a>
            <a href="{{ path('subcategory_index') }}" class="btn btn-default">Regresar al listado</a>

        </div>

    </div>

    {{ form_end(edit_form) }}

{% endblock %}
