{% extends ':layouts:main-layout.html.twig' %}

{% block content %}
    <h1 class="page-header">Listado de subcategorias</h1>

    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>No</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for subCategory in subCategories %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ subCategory.name }}</td>
                <td>
                    <a href="{{ path('subcategory_edit', { 'id': subCategory.id }) }}" data-toggle="tooltip" data-placement="top" title="Editar">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="link-eliminar link-tooltip" href="javascript:void(0);"
                       data-url="{{ path('subcategory_delete', { 'id': subCategory.id }) }}"
                       data-descripcion="{{ subCategory.name }}"
                       data-toggle="modal" data-target="#modal-delete"
                       data-placement="top" title="Eliminar">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ form_start(form, { 'attr': {'class': 'form-inline'} }) }}
        <div class="form-group">
            {{ form_widget(form.category) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.name) }}
        </div>

        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-primary">
        </div>
    {{ form_end(form) }}

{% endblock %}
